@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<StudentTracker.Models.Student>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Добавить студента</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParam"]">
                    Фамилия
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParam"]">
                    Имя
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MidNameSortParam"]">
                    Отчество
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GenderSortParam"]">
                    Пол
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSortParam"]">
                    Год окончания
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FacultySortParam"]">
                    Факультет
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SpecialtySortParam"]">
                    Специальность
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AcademicDegreeSortParam"]">
                    Академическая степень
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FormEducationSortParam"]">
                    Форма обучения
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.GenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty.Faculty.FacultyShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty.SpecialtyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicDegree.AcademicDegreeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormEducation.FormEducationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentID">Изменить</a> | <a asp-action="Details" asp-route-id="@item.StudentID">Детали</a> | <a asp-action="Delete" asp-route-id="@item.StudentID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
