@model IEnumerable<StudentTracker.Models.Student>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Добавить студента</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th>
                Пол
            </th>
            <th>
                Год окончания
            </th>
            <th>
                Факультет
            </th>
            <th>
                Специальность
            </th>
            <th>
                Академическая степень
            </th>
            <th>
                Форма обучения
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.GenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty.Faculty.FacultyShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty.SpecialtyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicDegree.AcademicDegreeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormEducation.FormEducationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentID">Изменить</a> | <a asp-action="Details" asp-route-id="@item.StudentID">Детали</a> | <a asp-action="Delete" asp-route-id="@item.StudentID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
